.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: pink;
}

body{
    margin: 0;
    padding:0;
    background: rgb(34, 14, 216)
}
#yellowsquare{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position:absolute;
    left:550;
    top:550;
}